body, html {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: ArtifaktElement, sans-serif;
}

#header, #preview, #overlay {
    position: absolute;
    width: 100%;
}

#header {
    height: 3em;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: #f1f1f1;
}

#preview, #overlay {
    top: 3em;
    bottom: 0;
}

#overlay {
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1em;
    display: none;
}

#overlay > .notification {
    margin: auto;
    padding: 1em;
    max-width: 50%;
    background: white;
}

#header > * {
    height: 2em;
    display: flex;
    flex-flow: row nowrap;
    margin: 0 0.5em;
    font-size: 1em;
    font-family: ArtifaktElement, sans-serif;
}

#header .title {
    flex: 1 0 auto;
    height: auto;
}

#models {
    flex: 0 1 auto;
    min-width: 2em;
}

#content {
    display: flex;
    top: 3em;
    bottom: 0;
    width: 100%;
    position: absolute;
}

#forgeViewer {
    width: 70%;
    height: 100%;
    border: none;
}

#weatherStationContainer {
    resize: both;
    overflow: auto;
}

.custom-tooltip {
    position: absolute;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    z-index: 1001;
}

.custom-tooltip h4 {
    margin: 0;
    font-size: 14px;
    font-weight: bold;
}

.custom-tooltip table {
    width: 100%;
    border-collapse: collapse;
}

.custom-tooltip td {
    padding: 5px;
    vertical-align: top;
    font-size: 12px;
}


